svg.CircularProgressbar {
  width: 110px;
  height: 110px;
}
a,
.nav-link,
.works.filter-img .filtering .filter span {
  cursor: pointer;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.testimonials.grid .testim .slick-track .slick-active > div {
  position: relative;
  margin: 0 20px;
}
.testimonials.grid .testim .slick-track .item {
  margin: 0;
}
#before-after-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#before-after-slider img {
  all: unset;
  width: 100%;
}
#after-image {
  display: block;
}
.path a {
  text-transform: capitalize;
}
#before-image {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}
.contact .form input,
.contact .form textarea {
  color: #0c0c0c;
}
.twentytwenty-handle:before,
.twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  width: 3px;
  height: 9999px;
  left: 50%;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.twentytwenty-handle:after {
  bottom: 100%;
}
.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
}
.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}
.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}
#before-after-slider .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  opacity: 0;
  transition: opacity 0.3s linear;
}
#before-after-slider:hover .overlay {
  opacity: 1;
}
.twentytwenty-before-label,
.twentytwenty-after-label {
  opacity: 0;
}
.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  content: attr(data-content);
}
.justified-gallery img {
  height: 100%;
  object-fit: cover;
  min-height: 335px;
}
.twentytwenty-before-label:before {
  left: 10px;
}
.twentytwenty-after-label:before {
  right: 10px;
}
a.col-lg-4.col-xl-3.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.twentytwenty-before-label,
.twentytwenty-after-label {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}
a.col-lg-4.col-xl-3.col-md-12 {
  margin-bottom: 10px;
}
.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
  z-index: 100;
  top: 50%;
  margin-top: -19px;
}
.justified-gallery {
  margin: 10px 0;
}
.pages-header .cont h1 {
  /* text-transform: capitalize; */
}
.slick-dots li button {
  display: block !important;
  opacity: 0;
  width: 0;
  height: 0;
}
.testimonials2 .slick-list {
  margin: 0 !important;
}
.slid-half .nofull:after {
  z-index: 1;
}
.team {
  overflow: hidden;
}
.swiper-pointer-events.swiper-vertical,
.cta__slider-arrows,
.slid-half .swiper-pagination-fraction.top {
  z-index: 55;
}

.testimonials2 .slick-slide > div {
  padding: 0 10px !important;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    display: block;
    opacity: 0;
    padding: 0;
    height: 0;
    transition: all .3s linear;
  }
  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
  }
}
.hideX #preloader {
    display: none !important;
    z-index: -1111111;
    height: 0;
    width: 0;
    overflow: hidden;
}
.hideX .pace {
    display: none !important;
}
.pace-done #preloader:after {
  bottom: 0;
}
.pace-done #preloader {
  visibility: hidden;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.pace-done #preloader:after,
.pace-done #preloader:before {
  height: 0;
  -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
body.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
body.hideX .pace {
  display: none !important;
  background-color: transparent;
}
.map-box iframe, 
.contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.lg-progress-bar .lg-progress {
  background-color: #b19777!important;
  height: 5px;
  width: 0;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #b19777 !important;
}
.lg-backdrop {
  background-color: #f8f4f3 !important;
}
.lg-thumb {
  background-color: #f8f4f3  !important;
}
.lg-toolbar {
  background-color:#f8f4f3  !important;
}
.lg-icon:hover{
  color: #b19777 !important;
}
.lg-outer .lg-thumb-outer{
  background-color:#f8f4f3  !important;
}

/*works janky on mobile :<*/
.container1 {
  position: relative;
  width: 500px;
  height: 350px;
  transition: 200ms;
}

.container1:active {
  width: 180px;
  height: 245px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  /* background: url("https://storage.googleapis.com/eco-lar-bucket/Projects/Restaurante_2/Exterior%2045.jpg"); */
  /* background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); */
  background-repeat: no-repeat;
  background-size: cover;
}


.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  /* max-width: 110px; */
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: '';
  /* background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); */
  /* filter: blur(2rem); */
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* <<<<< */

.items-gallery{
  width: 100%;
  height: 250px;        /* set a consistent height */
  object-fit: cover;    /* keeps aspect ratio but fills the box */
  object-position: center;
  border-radius: 8px;   /* optional */
}

.img-gallery{
  max-height: 230px;
}
@media (max-width: 1200px) {
  .img-gallery {
    max-height: 200px;
  }
}

.projImg {
  
  opacity: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth transitions */
   animation: fadeIn 2s ease forwards;
    animation-delay: 1s; /* WAIT 3 SECONDS BEFORE START */
}
.projImg:hover{
  transform: scale(1.005); /* slightly zoom in */
  box-shadow: 0 8px 20px #cfa673; /* subtle glow */

}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.slider-item {
  position: absolute;
   /* display: block;        🔑 FIX */
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  /* transform: translateX(100%); */
}

.slider-item.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 3;
}

.slider-item.left {
  /* opacity: 0.6; */
  visibility: hidden;
  transform: translateX(-100%);
  z-index: 2;
  pointer-events: none;
}

.slider-item.right {
  /* opacity: 0.6; */
  visibility: hidden;
  transform: translateX(100%);
  z-index: 2;
  pointer-events: none;
}

.slider-item.hidden {
  /* opacity: 0; */
  visibility: hidden;
  z-index: 1;
  pointer-events: none;
}

.slider-container {
  height: 1200px;
  @media screen and (max-width: 1200px) {
    height: 1025px;
  }
  @media screen and (max-width: 991px) {
    height: 1340px;
  }
  @media screen and (max-width: 767px) {
    height: 990px;
  }
  @media screen and (max-width: 575px) {
    height: 1070px;
  }
  @media screen and (max-width: 520px) {
    height: 950px;
  }
  @media screen and (max-width: 450px) {
    height: 820px;
  }

}
